<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="1" parallel="tests">
    <test name="ChromeTest">
        <parameter name="browserType" value="chrome"/>
        <classes>
            <class name="ge.tbc.tesautomation.HolidayPageTests"/>
            <class name="ge.tbc.tesautomation.LandingPageTests"/>
            <class name="ge.tbc.tesautomation.MoviePageTests"/>
        </classes>
    </test>
    <test name="EdgeTest">
        <parameter name="browserType" value="edge"/>
        <classes>
            <class name="ge.tbc.tesautomation.HolidayPageTests"/>
            <class name="ge.tbc.tesautomation.LandingPageTests"/>
            <class name="ge.tbc.tesautomation.MoviePageTests"/>
        </classes>
    </test>
    <test name="FireFoxTest">
        <parameter name="browserType" value="fireFox"/>
        <classes>
            <class name="ge.tbc.tesautomation.HolidayPageTests"/>
            <class name="ge.tbc.tesautomation.LandingPageTests"/>
            <class name="ge.tbc.tesautomation.MoviePageTests"/>
        </classes>
    </test>
</suite>